
.wgpt {
    background: rgb(12,67,127);
    background: linear-gradient(16deg, rgba(12,67,127,1) 0%, rgba(14,16,47,1) 29%, rgba(14,16,47,1) 75%, rgba(25,63,118,1) 100%);
}

.wgpt > div {
    margin: 2.5rem 0;
}

.wgpt--main-question > div > .feature--answer {
    max-width: 80ch;
}

.wgpt--middle-title {
    align-items: center;
    justify-content: start;
}

.wgpt--middle-title > h2 {
    font-size: var(--fs-800);
}

.wgpt--more-info {
    justify-content: space-between;
}


@media(max-width: 55rem) {
    .wgpt--more-info {
        flex-direction: column;
    }

    .wgpt--more-info > * {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .wgpt--more-info > * > .feature--top-border {
        margin-left: -2rem;
    }
}