.cta {
    background: linear-gradient(90deg,#AE67FA, #F49867);
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    padding-block: 2rem;
    padding-inline: 1rem;
    font-size: var(--fs-600);
}

.cta button {
    background-color: black;
    color: white;
    padding: .7rem 2rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    font-size: var(--fs-500);
}
