.feature {
    display: flex;
    font-family: var(--font-family);
}

.feature--top-border {
    height: 3px;
    width: 40px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25rem);
    position: absolute;
}

.feature--question {
    color: white;
    padding-top: 10px;
    font-size: var(--fs-600);
    margin-bottom: .7rem;
    margin-right: 1.6rem;
}   

.feature--answer {
    color: var(--color-text);
    font-size: var(--fs-500);
    max-width: 30ch;
    line-break: anywhere;
    margin-bottom: 1rem;
    margin-right: 1.6rem;
}
