.features {
    display: grid;
    grid-template-areas: 
        'motivation details';
}

.features--motivation {
    grid-area: motivation;
    max-width: 50ch;
}

.features--motivation > h3 {
    font-size: var(--fs-800);
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.features--details {
    grid-area: 'details';
}

.features--details > * {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem
}

.features--details > * > *:last-child {
    max-width: 30ch;
    line-break: strict;
}

@media(max-width: 55rem) {
    .feature > .feature--top-border {
        margin-left: 0;
    }
    
    .features {
        grid-template-areas: 
            'motivation' 
            'details';
    }
}