* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

/* utility classes */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* this class is assined for header & nav div in App.js */
.gradient-bg {
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient-text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-padding {
    padding: 4rem 6rem;
}

.section-margin {
    margin: 4rem 6rem;
}

/* animista animation */
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse backwards;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse backwards;
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
    
@media screen and (max-width: 700px) {
    .section-padding {
        padding: 4rem;
    }

    .section-margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section-padding {
        padding: 4rem 2rem;
    }

    .section-margin {
        margin: 4rem 2rem;
    }
}