.header {
    font-family: var(--font-family);
    display: grid;
    grid-template-areas: 
        '. title image .'
        ' . description image .'
        '. subscribe image .'
        '. people image .'
        '. companies companies .';
    padding: 2rem 4rem;
}

.header--title {
    font-size: var(--fs-900);
    letter-spacing: -1.8px;
    max-width: 18ch;
    grid-area: title;
}

.header--description {
    color: #81AFDD;
    font-size: var(--fs-450);
    line-height: 27.32px;
    max-width: 59ch;
    grid-area: description;
}

.header--email-input-div {
    grid-area: subscribe;
    margin: 1rem 0;
}

.header--email-input-div > * {
    border: none;
    padding: 0rem 3rem 0rem 1rem;
    height: 4rem;
}

.header--email-input-div--input {
    background: #052D56;
    color: #9fa6ae;
    font-size: var(--fs-400);
    font-weight: bold;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.header--email-input-div--input:focus {
    outline: 1px solid #3D6184;
}

.header--email-input-div--input::placeholder {
    color: #3D6184;
}

.header--email-input-div--button {
    background: #FF4820;
    color: white;
    font-size: var(--fs-500);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    text-align: center;
}


.header--people {
    align-items: center;
    color: white;
    font-size: var(--fs-300);
    gap: 3px;
    grid-area: people;
}

.header--ai-img {
    width: 50vw;
    grid-area: image;  
}

/* companies class is in brand component */


@media(max-width: 57rem) {
    .header--description {
        max-width: 45ch;
    }
}

@media(max-width: 50rem) {
    .header{
        grid-template-areas: 
            'title'
            'description'
            'subscribe'
            'people'
            'image'
            'companies';
        justify-items: center;
        text-align: center;
        row-gap: 1rem;
    }

    .header--title {
        margin-top: -1.5rem;
    }

    .header--ai-img {
        width: 70vw;
    }


}

